body {
  background-color: red;
}

h1 {
  color: white;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 150px;
}

p, li{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  border: 1px solid black;
  padding-left:10px;
  background-color: black;
}

.footer {
  background-color: black;
  color: white;
  border: 1px solid black;
  padding-left: 10px
}
